name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build (macOS)
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift Version
        run: swift --version

      - name: Debug Build
        run: swift build

      - name: Release Build
        run: swift build -c release
